<template>
		<v-container fluid grid-list-xl>

		<v-layout row wrap justify-center>
			<v-flex xs12 sm6 md4 lg3 text-xs-center>
				<v-icon large class="mb-2" color="primary">done</v-icon>
				<h2 class="mb-2">
					Bez provize a poplatků
				</h2>
				<p>
					Z Vaší akce si nebereme provizi od Vás ani od prostorů.
				</p>
			</v-flex>
			<v-flex xs12 sm6 md4 lg3 text-xs-center>
				<v-icon large class="mb-2" color="primary">near_me</v-icon>
				<h2 class="mb-2">
					Na přímo, bez prostředníků
				</h2>
				<p>
					Komunikujete napřímo s prostory, bez zprostředkovatelů.
				</p>
			</v-flex>
			<v-flex xs12 sm6 md4 lg3 text-xs-center>
				<v-icon large class="mb-2" color="primary">flash_on</v-icon>
				<h2 class="mb-2">
					Rychlá reakce na poptávky
				</h2>
				<p>
					Prostory odpovídají rychle a přímo Vám, bez zdržení.
				</p>
			</v-flex>
		</v-layout>

		<v-layout row wrap justify-center>
			<v-flex xs12 sm6 md4 lg3>
				<nuxt-link to="/">
					<div style="background-image: url('/featured-1.jpg')" class="featured-image">
						<span class="headline white--text">
							Výběr prostor? Rozmanitost v&nbsp;hravosti, hravost v&nbsp;rozmanitosti
						</span>
					</div>
				</nuxt-link>
			</v-flex>
			<v-flex xs12 sm6 md4 lg3>
				<nuxt-link to="/">
					<div style="background-image: url('/featured-2.jpg')" class="featured-image">
						<span class="headline white--text">
							Skvělá místa pro ten nejkrásnější den - pro Vaši svatbu
						</span>
					</div>
				</nuxt-link>
			</v-flex>
			<v-flex xs12 sm6 md4 lg3>
				<nuxt-link to="/">
					<div style="background-image: url('/featured-3.jpg')" class="featured-image">
						<span class="headline white--text">
							Super prostory pro skvělé venkovní akce
						</span>
					</div>
				</nuxt-link>
			</v-flex>
		</v-layout>

	</v-container>
</template>

<style lang="scss" scoped>

	.featured-image{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
		min-height: 200px;
		position: relative;
		
		&:after{
			content: '';
			position: absolute;
			transition: 300ms all ease-in-out;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
		}

		&:before{
			content: '';
			position: absolute;
			background-color: rgba(#000000, .7);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:hover{
			&:after{
				background: rgba(#be1522, .4);
			}
		}

		span{
			position: absolute;
			bottom: 0;
			padding: 1rem 3rem;
			text-align: center;
			z-index: 9;
		}
	}

</style>

