<template>
	<header style="background-image: url('/header.jpg')">
		<v-container fluid grid-list-xl class="content">

			<v-layout row wrap>
				<v-flex xs12 text-xs-center>
					<h1 class="white--text display-3">
						Vyberte si prostor pro svou akci
					</h1>
				</v-flex>
			</v-layout>

			<v-layout row wrap justify-center>
				<v-flex xs12 sm6 md4 lg3>
					<v-select
					color="white"
					dark
					:items="cities"
					label="Kde bude Vaše akce?"
					v-model="input.cities"
					></v-select>
				</v-flex>
				<v-flex xs12 sm6 md4 lg3>
					<v-select
					color="white"
					dark
					:items="visitors"
					label="Počet hostů"
					v-model="input.visitors"
					></v-select>
				</v-flex>
				<v-flex xs12 sm6 md4 lg3>
					<v-select
					color="white"
					dark
					:items="eventType"
					label="Typ akce"
					v-model="input.eventType"
					></v-select>
				</v-flex>
			</v-layout>

			<v-layout row wrap justify-center>
				<v-flex xs12 text-xs-center>
					<v-btn color="primary">Najít prostor</v-btn>
				</v-flex>
			</v-layout>

			<v-layout row wrap justify-center>
				<v-flex xs12 text-xs-center>
					<p class="white--text">
						nebo <nuxt-link to="/" class="white--text">NABÍDNĚTE SVŮJ PROSTOR</nuxt-link>
					</p>
				</v-flex>
			</v-layout>

		</v-container>
	</header>
</template>

<script>
export default {
	data(){
		return{
			input: {
				cities: null,
				visitors: null,
				eventType: null,
			}
		}
	},
	computed: {
		visitors(){
			return this.$store.getters.visitors
		},
		cities(){
			return this.$store.getters.cities
		},
		eventType(){
			return this.$store.getters.eventType
		}
	}
}
</script>

<style lang="scss" scoped>

header{
	width: 100%;
	min-height: 400px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000000, .7);
		z-index: 0;
	}

	.content{
		position: relative;
		z-index: 9;

		a{
			font-weight: bold;
		}
	}

	.disabled{
		background-color: darken(#be1522, 20) !important;
		color: #aaa;
	}
}

</style>


