<template>
	
	<footer>
		<v-container fluid grid-list-xl>
			<v-layout row wrap justify-center>
				<v-flex xs12 lg9>

					<v-layout row wrap>
						<v-flex xs12 sm6 md4>
							<ul>
								<li>
									<nuxt-link to="/">Alternativní prostory pro akce</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Malá firemní akce v Praze</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Coworkingové prostory pro akce</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Zasedačka v Praze</nuxt-link>
								</li>
							</ul>
						</v-flex>
						<v-flex xs12 sm6 md4>
							<ul>
								<li>
									<nuxt-link to="/">Místa pro business meeting v Praze</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Prostory pro akce pro 500 osob</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Firemní konference v Praze</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Industriální prostory pro akce</nuxt-link>
								</li>
							</ul>
						</v-flex>
						<v-flex xs12 sm6 md4>
							<ul>
								<li>
									<nuxt-link to="/">Exkluzivní historické prostory</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Venkovní prostory pro akce</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Místa pro stylové party</nuxt-link>
								</li>
								<li>
									<nuxt-link to="/">Industriální prostory pro akce</nuxt-link>
								</li>
							</ul>
						</v-flex>
					</v-layout>

					<v-layout row wrap>
						<v-flex xs12 text-xs-center>
							<small>
								&copy; 2018 Meatspace, s.r.o., všechna práva vyhrazena. Zobrazené fotografie a popisy jsou vlastnictvím jejich majitelů.
							</small>
						</v-flex>
					</v-layout>

				</v-flex>
			</v-layout>
		</v-container>
	</footer>

</template>

<style lang="scss" scoped>

footer{
	background-color: #ccc;

	small{
		color: #777;
	}

	ul{
		list-style: none;
		margin-left: 0;

		li{
			margin-bottom: .7rem;
			a{
				text-decoration: none;
				color: #777;
				position: relative;

				&:before{
					transition: 300ms all ease-in-out;
					content: '';
					width: 100%;
					border-bottom: 1px solid #777;
					position: absolute;
					bottom: 0;
					transform: rotateY(90deg);
				}

				&:hover{
					&:before{
						transform: rotateY(0);
					}
				}
			}
		}
	}
}

</style>

