<template>
	
	<v-container fluid grid-list-xl>

		<v-layout row wrap justify-center>
			<v-flex xs12 lg7>

				<v-layout row wrap justify-center>
					<v-flex xs12>

						<v-chip v-for="(item, index) in cityFilters" :key="index" label @click="item.active = !item.active" :outline="!item.active" color="primary" :class="{ 'white--text' : item.active }" dark>{{ item.city }}</v-chip>

					</v-flex>
				</v-layout>

				<v-layout row wrap justify-center>
					<v-flex xs12>

						<v-chip v-for="(item, index) in hashtagFilters" :key="index" @click="item.active = !item.active" label :class="{ 'grey' : !item.active, 'primary' : item.active }" text-color="white">
							<v-avatar tile :class="{ 'grey darken-1 title' : !item.active, 'red darken-2 title' : item.active }">#</v-avatar>
							{{ item.hashtag }}
						</v-chip>

					</v-flex>
				</v-layout>

			</v-flex>
			<v-flex xs12 lg2>

				<v-select :items="visitors" label="Počet hostů"></v-select>

			</v-flex>
		</v-layout>


		<v-layout row wrap justify-center>
			<v-flex xs12 lg9>

				<v-layout row wrap>
					<v-flex xs12 sm6 md4 v-for="(item, index) in loadedDataPlaces.slice(0, loadedDataItems)" :key="index">

						<v-card height="100%" hover>
							<v-card-media src="place-image.jpg" height="200px"></v-card-media>

							<div class="meta">
								<v-layout row wrap>
									<v-flex xs12 lg8>
										<p>
											<v-tooltip top>
												<span slot="activator">
													<v-icon>room</v-icon> Plzeňský kraj
												</span>
												<span>Lokalita</span>
											</v-tooltip>
											&nbsp;&nbsp; 
											<v-tooltip top>
												<span slot="activator">
													<v-icon>person</v-icon> 1500
												</span>
												<span>Kapacita</span>
											</v-tooltip>
										</p>
									</v-flex>
									<v-flex xs12 lg4 text-xs-right>
										<v-chip label small color="primary" text-color="white">
											Náš TIP
										</v-chip>
									</v-flex>
								</v-layout>
							</div>

							<v-card-title>
								<h3 class="headline">
									Zámek Zbiroh
								</h3>
							</v-card-title>

							<v-card-text>
								<p>
									Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor dolores temporibus fuga, architecto, rerum maiores suscipit necessitatibus omnis nam voluptas incidunt animi deleniti. Debitis in repellendus fugiat magni consectetur beatae?
								</p>
							</v-card-text>

							<div class="hashtags">
								<v-layout row wrap>
									<v-flex xs12>
										<p>
											#meeting #indoor #party #hobby
										</p>
									</v-flex>
								</v-layout>
							</div>

							<hr>

							<v-card-actions>
								<v-btn outline small color="primary">Detail místa</v-btn>
								<v-spacer></v-spacer>
								od <span>7000&nbsp;Kč</span>/hod
							</v-card-actions>
						</v-card>

					</v-flex>
				</v-layout>

				<v-layout row wrap v-if="!this.loadMoreButtonHidden">
					<v-flex xs12 text-xs-center>
						<v-btn outline color="primary" @click="loadMore">Načíst další prostory</v-btn>
					</v-flex>
				</v-layout>

			</v-flex>
		</v-layout>

	</v-container>

</template>

<script>
export default {
	data(){
		return{
			loadedDataItems: 6,
			loadMoreButtonHidden: false,
			labelActive: false,
		}
	},
	computed: {
		loadedDataPlaces(){
			return this.$store.getters.loadedDataPlaces
		},
		cityFilters(){
			return this.$store.getters.cityFilters
		},
		hashtagFilters(){
			return this.$store.getters.hashtagFilters
		},
		visitors(){
			return this.$store.getters.visitors
		}
	},
	methods: {
		loadMore(){
			return this.loadedDataItems = this.loadedDataItems + 6
		}
	}
}
</script>

<style lang="scss" scoped>

hr{
	border: 0;
	border-top: 1px solid #eee;
}

.card{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	.meta{
		padding: .5rem 1rem;
		padding-bottom: 0;
		display: block;

		.chip__content{
			padding: 0 8px;
		}

		.chip--small{
			height: 22px;
		}

		p{
			color: #999;
			margin: .35rem 0;

			.icon{
				font-size: 14px;
				color: #777;
			}
		}
	}

	.card__title{
		padding-bottom: .5rem;
	}

	.card__text{
		display: flex;
		flex: 1;
		padding-top: 0;

		p{
			margin-bottom: 0;
		}
	}

	.hashtags{
		padding: .5rem 1rem;
		padding-bottom: 0;
		display: block;

		p{
			color: #999;
			margin-bottom: 1rem;
			font-size: .8rem;
			text-transform: uppercase;
		}
	}

	.card__actions{
		padding: 1rem .8rem;
		color: #aaa;
		font-style: italic;

		span{
			font-weight: bold;
			font-size: 1.3rem;
			color: #333;
		}
	}
}

</style>

