<template>
	
	<v-container fluid grid-list-xl>
		<v-layout row wrap justify-center>
			<v-flex xs12 lg9>
				<h2 class="display-1 mb-4">
					Ani další služby nemusí být nudné.
				</h2>
				<v-layout row wrap>
					<v-flex xs12 sm6 md4>
						<v-card href="/" hover>
							<v-card-media src="veskle.jpg" height="300px"></v-card-media>
							<v-card-title>
								<h3 class="headline">
									Veskle
								</h3>
							</v-card-title>
							<v-card-text>Skvělý catering pro soukromé oslavy či firemní akce</v-card-text>
						</v-card>
					</v-flex>
					<v-flex xs12 sm6 md4>
						<v-card href="/" hover>
							<v-card-media src="veskle.jpg" height="300px"></v-card-media>
							<v-card-title>
								<h3 class="headline">
									Veskle
								</h3>
							</v-card-title>
							<v-card-text>Skvělý catering pro soukromé oslavy či firemní akce</v-card-text>
						</v-card>
					</v-flex>
					<v-flex xs12 sm6 md4>
						<v-card href="/" hover>
							<v-card-media src="veskle.jpg" height="300px"></v-card-media>
							<v-card-title>
								<h3 class="headline">
									Veskle
								</h3>
							</v-card-title>
							<v-card-text>Skvělý catering pro soukromé oslavy či firemní akce</v-card-text>
						</v-card>
					</v-flex>
				</v-layout>

				<v-layout row wrap>
					<v-flex xs12 text-xs-center>
						<v-btn outline color="primary">Načíst další služby</v-btn>
					</v-flex>
				</v-layout>

			</v-flex>
		</v-layout>
	</v-container>

</template>

<style lang="scss" scoped>

	.card{
		.card__title{
			padding-bottom: .5rem;
		}

		.card__text{
			padding-top: 0;
		}
	}

</style>
