<template>
	<v-app v-scroll="onScroll">
		<v-toolbar flat dark>
			<Logo />
			<v-spacer></v-spacer>
			<v-toolbar-items>
				<v-btn flat>prostory</v-btn>
				<v-btn flat>služby</v-btn>
				<v-btn flat>přidat prostor</v-btn>
				<v-btn flat>ceny</v-btn>
				<v-btn flat>o nás</v-btn>
			</v-toolbar-items>
		</v-toolbar>

		<nuxt />

		<page-footer></page-footer>

		
		<div class="arrow--up" @click="scrollToTop" v-if="this.scrollToTopButton">
			<VueElevator mainAudio endAudio word :duration="1000"></VueElevator>
			<v-icon>arrow_upward</v-icon>
		</div>

	</v-app>
</template>



<script>
import Logo from '~/components/logo.vue'
import pageFooter from '~/components/sections/pageFooter.vue'

export default {
	data: () => ({
		scrollFromTop: 0,
		scrollToTopButton: false
	}),
	methods: {
		onScroll(e){
			this.scrollFromTop = window.pageYOffset || document.documentElement.scrollTop
		}
	},
	watch: {
		scrollFromTop(){
			if(this.scrollFromTop > 400){
				this.scrollToTopButton = true
			}else{
				this.scrollToTopButton = false
			}
		}
	},
	components: {
		Logo,
		pageFooter
	},
	created(){
		this.$store.dispatch('loadDataPlaces')
	}
}
</script>

<style lang="scss">

.arrow--up{
	transition: all 300ms ease-in-out;
	background-color: #bbb;
	padding: 1rem;
	display: inline-block;
	position: fixed;
	bottom: 2rem;
	right: 2rem;

	svg{
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&:hover{
		background-color: #be1522;
		cursor: pointer;

		i{
			color: #ffffff;
		}
	}
}

</style>

