<template>
	<div>

		<headerFilters />

		<featured />

		<places />

		<services />

	</div>
</template>

<script>
import headerFilters from '~/components/sections/headerFilters.vue'
import featured from '~/components/sections/featured.vue'
import places from '~/components/sections/places.vue'
import services from '~/components/sections/services.vue'

export default {
	components: {
		headerFilters,
		featured,
		places,
		services
	}
}
</script>



